							<center><p><a onclick="$('#email_settings').slideToggle('slow');" href="javascript://">Настройки Email</a></p></center>
								<div id="email_settings" style="display:none">
									<div class="form-group">
										<label for="email_rule" class="col-sm-3 control-label">Оповещать по Email</label>
										<div class="col-sm-9">
											<input type="radio" name="email_rule" id="email_on" value="1">Да
   											<input type="radio" name="email_rule" id="email_off" checked value="0">Нет<Br>
										</div>
									</div>
									<div id="email_set"></div>
								</div>	
							<script>
								email_on.onfocus = function() {
				  				if (this.value == 1) { 
				  					this.className = "email_set";
				  					email_set.innerHTML = '<div class="form-group"><center><div class="col-sm-12"><select name="email_frequency"><option selected disabled>Частота повторения</option><option value="1">Раз в день</option><option value="2">Раз в день (пн-пт)</option><option value="3">Раз в неделю</option><option value="4">Раз в месяц</option><option value="5">Раз в год</option></select></div></center></div><div class="form-group"><center><div class="col-sm-12"><select name="email_time"><option selected disabled>Время оповещения</option><option value="7">7:00</option><option value="8">8:00</option><option value="9">9:00</option><option value="10">10:00</option><option value="11">11:00</option><option value="12">12:00</option><option value="13">13:00</option><option value="14">14:00</option><option value="15">15:00</option><option value="16">16:00</option><option value="17">17:00</option><option value="18">18:00</option><option value="19">19:00</option><option value="20">20:00</option><option value="21">21:00</option><option value="22">22:00</option><option value="23">23:00</option></select></div></center></div>';
				  				}
							};		
							email_off.onfocus = function() {
				  				if (this.value == 0) { 
				  					this.className = "email_set";
				  					email_set.innerHTML = '';
				  				}
							};
						</script>