<!DOCTYPE html>
<html>
	<head>
		{% include 'parts/overall/head.twig' %}
	</head>
	<header>
		{% include 'parts/overall/header.twig' %}
	</header> 
	<body>
		<div class="container home-box-body">
			<div class="row">
				{% if session_registration == TRUE %}
				{% include 'parts/registration_success/registration_success_info_1.twig' %}
				{% else %}
				{% include 'parts/registration_success/registration_success_info_2.twig' %}
				{% endif %}
			</div>
			{% include 'parts/overall/footer.twig' %}
		</div>
	</body>
</html>
