<!DOCTYPE html>
<html>
	<head>
		{% include 'parts/overall/head.twig' %}
	</head>
	<header>
		{% include 'parts/overall/header.twig' %}
	</header> 
	<body>
		<div class="container registration-box-body">
			<div class="row">
				<div class="col-md-12">
					{% include 'parts/registration/registration_code.twig' %}
					<div class="registration">
						{% include 'parts/registration/registration_form.twig' %}
					</div>
				</div>
			</div>
		</div>
		{% include 'parts/registration/registration_footer.twig' %}
	</body>
</html>
