Добрый день!
Пользователь с Email-ом {{ author_email}} приглашает Вас присоединиться к проекту <b>ПИНОК</b> и уже создал для Вас первую задачу под названием "{{new_task}}"!
Для дальнейшего участия в проекте, просим вас зарегистрироваться по ссылке: <a href="http://{{site}}/registration>PINOK.ORG</a>
