			<div class="row block_personal_task">
				<div class="col-md-12" style="background:yellow;">
					<div class="col-md-10"><h2>Поехать на Таити! "Это волшебное место!" </h2></div><div class="col-md-2"></div>
				</div>
			</div>
			<div class="row main_block_special">
					<div class="col-md-2" style="background:#A4ABB7; height:700px">
						<a href="#"><div class="col-md-12" style="height:20px; background:grey; color: yellow; margin-top:10px;">Важные дела</div></a>
						<a href="#"><div class="col-md-12" style="height:20px; background:grey; color: yellow; margin-top:10px;">Проекты</div></a>
						<a href="#"><div class="col-md-12" style="height:20px; background:grey; color: yellow; margin-top:10px;">Задачи</div></a>
						<a href="#"><div class="col-md-12" style="height:20px; background:grey; color: yellow; margin-top:10px;">Заметки</div></a>
					</div>
					<div class="col-md-7">
						<div class="col-md-4"><div class="home-info-block" style="height:220px; margin-top: 20px;"><h3>Покормить котенка</h3><p>Покорми котенка, сучка</p></div></div>
						<div class="col-md-4"><div class="home-info-block" style="height:220px; margin-top: 20px;"><h3>Сходить в магазин</h3><p>Сходи в магазин, сучка</p></div></div>
						<div class="col-md-4"><div class="home-info-block" style="height:220px; margin-top: 20px;"><h3>Постирать грязное бельишко</h3><p>Постирай белье, сучка</p></div></div>
						<div class="col-md-4"><div class="home-info-block" style="height:220px; margin-top: 20px;"><h3>Купить подарок на новый год</h3><p>Купи подарок, сучка</p></div></div>
					</div>
					<div class="col-md-3" style="background:#A4ABB7">
						<div class="col-md-9">
							<input>
						</div>
						<div class="col-md-3">
							<button>Го!</button>
						</div>
						<div class="col-md-12">
							<ul class="nav nav-tabs">
							  <li class=""><a href="#user" data-toggle="tab" aria-expanded="false"><div class="icon-user"></div></a></li>
							  <li class=""><a href="#calendar" data-toggle="tab" aria-expanded="false"><div class="icon-calendar"></div></a></li>
							  <li class=""><a href="#importance" data-toggle="tab" aria-expanded="false"><div class="icon-notification"></div></a></li>
							  <li class=""><a href="#tags" data-toggle="tab" aria-expanded="false"><div class="icon-price-tag"></div></a></li>
							</ul>
							<div id="myTabContent" class="tab-content">
							  <div class="tab-pane fade in" id="user">
							    <p>для кого</p>
							  </div>
							  <div class="tab-pane fade" id="calendar">
							    <p>тип и напоминания</p>
							  </div>
							  <div class="tab-pane fade" id="importance">
							    <p>важность - звездочки</p>
							  </div>
							  <div class="tab-pane fade" id="tags">
							    <p>теги</p>
							  </div>
							</div>
						</div>
					</div>
			</div>
		
