			<div class="row block_personal_task">
				<div class="col-md-12 main_tasks">
					<div class="col-md-10"><h3>Главная задача (приоритетная для Вас цель) </h3> <button class="btn btn-primary" onclick="alert('На данный момент, эта функция недоступна');">Создать</button></div><div class="col-md-2"></div>
				</div>
			</div>
			<div class="row main_block_special">
					<div class="col-md-2 right_colomn">
						<a href="?task_t=imp"><div class="col-md-12 button_right_colomn">Важные</div></a>
						<div id="imp"></div>
						<a href="?task_t=last"><div class="col-md-12 button_right_colomn">Последние</div></a>
						<div id="last"></div>
						<a href="?task_t=fav"><div class="col-md-12 button_right_colomn">Избранные</div></a>
						<div id="favourite"></div>
						<a href="?task_t=new"><div class="col-md-12 button_right_colomn">Новые</div></a>
						<div id="new"></div>
						<a href="?task_t=proj"><div class="col-md-12 button_right_colomn">Проекты</div></a>
						<a href="?task_t=even"><div class="col-md-12 button_right_colomn">События</div></a>
						<a href="?task_t=task"><div class="col-md-12 button_right_colomn">Задачи</div></a>
					</div>
					<div class="col-md-7">
						<div id="content"><div id="project"></div><div id="list"></div><center><div class="col-md-12" style="padding-top:20px;"><div id="page"></div></div></center></div>
					</div>
					<div class="col-md-3 style_fast_form">
						<form id="create_task_form">
							<div class="row">
								<div class="col-md-8">
									<input type="text" id="task_name" required>
								</div>
								<div class=" col-md-offset-1 col-md-3">
									<input type="submit" class="btn btn-primary" value="го">
								</div>
							</div>
							<div class="row">								
									<ul class="nav nav-tabs style_fast_form">									
									    <li><a href="#user" data-toggle="tab" aria-expanded="false"><div id="user_ico"><div class="icon-user button_task_user"></div></div></a></li>
									    <li><a href="#calendar" data-toggle="tab" aria-expanded="false"><div id="calendar_ico"><div class="icon-calendar button_task_no_calendar"></div></div></a></li>
									    <li><a href="#importance" data-toggle="tab" aria-expanded="false"><div id="importance_ico"><div class="icon-notification button_task_importan"></div></div></a></li>
									    <li><a href="#tags" data-toggle="tab" aria-expanded="false"><div id="tags_ico"><div class="button_task_task">З</div></div></a></li>									
									</ul>								
									<div id="myTabContent" class="tab-content">
									    <div class="tab-pane fade in" id="user">
									    	<div class="form-group">
									    		<center>								  
										    		<input type="radio" id="email_1" class="input_x" onclick="task_for_user()" name="task_for" value="1" checked />
													<label class="label_x" for="email_1">Для себя</label>
													<input type="radio" id="email_2" class="input_x" onclick="task_for_user()" name="task_for" value="2" />
													<label class="label_x" for="email_2">Для другого</label>
												</center>
											</div>
											<div id="email"></div>
									  	</div>
									  	<div class="tab-pane fade" id="calendar">
									  		<div class="form-group">
												<center>
										    		<input type="radio" id="calendar_1" class="input_x" onclick="deadline_for_task()" name="deadline" value="1" />
													<label class="label_x" for="calendar_1">Установить срок</label>
													<input type="radio" id="calendar_2" class="input_x" onclick="deadline_for_task()" name="deadline" value="2" checked />
													<label class="label_x" for="calendar_2">Без срока</label>
												</center>						
											</div>
											<div id="deadline_date"></div>
									  	</div>
									  	<div class="tab-pane fade" id="importance">
									  		<center>
										    	<div class="rating">
										    		<input type="radio" id="star_5" class="input_s" onclick="raiting_for_task()" name="stars" value="5" />
												    <label for="star_5" class="label_s"> &#9734;</label>
												    <input type="radio" id="star_4" class="input_s" onclick="raiting_for_task()" name="stars" value="4" />
												    <label for="star_4" class="label_s"> &#9734;</label>
												    <input type="radio" id="star_3" class="input_s" onclick="raiting_for_task()" name="stars" value="3" />
												    <label for="star_3" class="label_s"> &#9734;</label>
												    <input type="radio" id="star_2" class="input_s" onclick="raiting_for_task()" name="stars" value="2" />
												    <label for="star_2" class="label_s"> &#9734;</label>
													<input type="radio" id="star_1" class="input_s" onclick="raiting_for_task()" name="stars" value="1" />
												    <label for="star_1" class="label_s"> &#9734;</label>
												</div>
											</center>
									  	</div>
									  	<div class="tab-pane fade" id="tags">
									  		<center>								
										    	<p><input type="radio" id="type_1" class="input_x" onclick="type_for_task()" name="type" value="4" />
												<label class="label_x" for="type_1">Проект</label></p>
												<p><input type="radio" id="type_2" class="input_x" onclick="type_for_task()" name="type" value="61" />
												<label class="label_x" for="type_2">Событие</label></p>
												<p><input type="radio" id="type_3" class="input_x" onclick="type_for_task()" name="type" value="62" checked />
												<label class="label_x" for="type_3">Задача</label></p>										
											</center>
									  	</div>
									</div>								
								</div>
							</form>
							<div class="row">
								<div id="answer"></div>
							</div>						
					</div>
			</div>
			<div id="task_list_right" style="display:none">			
				<a class="link"><div class="t_short_name point_right_colomn"></div></a>
			</div>
			<div id="project_list_content" style="display:none">
				<div class="col-md-4">
					<a class="link"><div class="task_sticker project_style">
						<h3 class="t_short_name"></h3>
					</div></a>
				</div>
			</div>
			<div id="event_list_content" style="display:none">
				<div class="col-md-4">
					<a class="link"><div class="task_sticker event_style">
						<h3 class="t_short_name"></h3>
					</div></a>
				</div>
			</div>
			<div id="task_list_content" style="display:none">
				<div class="col-md-4">
					<a class="link"><div class="task_sticker task_style">
						<h3 class="t_short_name"></h3>
					</div></a>
				</div>
			</div>
			<div id="task_warn_5" style="display:none">
				<div class="col-md-4">
					<a class="link"><div class="task_sticker warnining_5_n">
						<h3 class="t_short_name"></h3>
					</div></a>
				</div>
			</div>
			<div id="task_warn_4" style="display:none">
				<div class="col-md-4">
					<a class="link"><div class="task_sticker warnining_4_n">
						<h3 class="t_short_name"></h3>
					</div></a>
				</div>
			</div>
			<div id="task_warn_3" style="display:none">
				<div class="col-md-4">
					<a class="link"><div class="task_sticker warnining_3_n">
						<h3 class="t_short_name"></h3>
					</div></a>
				</div>
			</div>
			<div id="task_warn_2" style="display:none">
				<div class="col-md-4">
					<a class="link"><div class="task_sticker warnining_2_n">
						<h3 class="t_short_name"></h3>
					</div></a>
				</div>
			</div>
			<div id="task_warn_1" style="display:none">
				<div class="col-md-4">
					<a class="link"><div class="task_sticker warnining_1_n">
						<h3 class="t_short_name"></h3>
					</div></a>
				</div>
			</div>
			<div id="task_information_content" style="display:none">
				<div class="col-md-12">
					<div class="task_information">
						<h3>Название: <font class="t_name"></font></h3>
						<p><font class="t_date_create"></font>  -  <font class="t_date_finish"></font></p>
						<p class="t_status"></p>
						<p class="t_type"></p>
						<p><font class="inf_star"> &#9734;</font><font class="t_raiting"></font></p>
						<center><button onclick="update_status();" class="btn btn-primary">Выполнено</button> <button onclick="update_archive();" button class="btn btn-primary">В архив</button> <button onclick="update_cancel();" button class="btn btn-primary">Отменить</button> <button onclick="update_delete();" button class="btn btn-primary">Удалить</button></center>
					</div>
				</div>
			</div>
			<script type="text/javascript" src="{{asset('templates/default/js/work_with_task.js')}}"></script>