<!DOCTYPE html>
<html>
	<head>
		{% include 'parts/overall/head.twig' %}
	</head>
	<header>
		{% include 'parts/overall/header.twig' %}
	</header> 
	<body>
		<div class="container home-box-body">
			<div class="row main_block_special">
				<div class="col-xs-12 col-sm-12 col-md-8 block_of_task">
					<div class="user_auth_main_block">
						<button onclick="sendData('?task=own_all');">Мои задачи</button> <button onclick="sendData('?task=from_others');">Задачи других пользователей</button> 
					</div>
					<div id="tasks"></div>
					<div id="page" align="center"></div>
				</div>				
				<div class="col-xs-12 col-sm-12 col-md-4">
					<div class="user-auth-add-task-to-friend-block">
						<h3 align="center">Создать задачу</h3>
						<form class="form-horizontal">
							<div class="form-group">
								<label for="task_for" class="col-sm-2 control-label">Задача для:</label>
								<div class="col-sm-10">
									<input type="radio" name="task_for" id="task_for_1" checked value="1"> Для себя<Br>
   									<input type="radio" name="task_for" id="task_for_2" value="2"> Для другого<Br>
								</div>
							</div>
							<div id="email"></div>						
							<div class="form-group">
								<label for="task_name" class="col-sm-2 control-label">Задача</label>
								<div class="col-sm-10">
									<input type="text" name="task_name" class="form-control" id="task_name" required>
								</div>
							</div>
							<div class="form-group">
								<label for="task_description" class="col-sm-3 control-label">Пометка</label>
								<div class="col-sm-9">
									<textarea type="text" name="task_description" rows="5" class="form-control" id="task_description"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="task_deadline" class="col-sm-3 control-label">Конечный срок</label>
								<div class="col-sm-9">
									<input type="date" name="task_deadline" class="form-control" id="task_deadline" required>
								</div>
							</div>	
							{%if session_user.u_tarif > 0 %}
								{%include 'parts/user/user_authorization/email_settings.twig'%}
							{%else%}
								<center><p><a disabled>Настройки Email</a></p></center>
							{%endif%}
							{%if session_user.u_tarif > 1 %}
								{%include 'parts/user/user_authorization/sms_settings.twig'%}
							{%else%}
								<center><p><a disabled>Настройки SMS</a></p></center>
							{%endif%}
							{%if session_user.u_tarif > 2 %}
								{%include 'parts/user/user_authorization/call_settings.twig'%}
							{%else%}
								<center><p><a disabled>Настройки звонков</a></p></center>
							{%endif%}
							<center><input type="button" onclick="send_task();" class="btn btn-success" value="Создать"></center>
						</form>
						<div id="answer_code_send"></div>
						<div id="answer"></div>
					</div>					
				</div>
			</div>		
		</div>
		{% include 'parts/overall/footer.twig' %}
		<script>
			task_for_1.onfocus = function() {
  				if (this.value == 1) { 
  					this.className = "email";
  					email.innerHTML = '';
  				}
			};		
			task_for_2.onfocus = function() {
  				if (this.value == 2) { 
  					this.className = "email";
  					email.innerHTML = '<div class="form-group"><label for="email_friend" class="col-sm-2 control-label">Email</label><div class="col-sm-10"><input type="email" name="email_friend" class="form-control" id="email_friend" required></div></div>';
  				}
			};

		
			function send_task(){
				var email_friend = $('#email_friend').val();
				var task = $('#task').val();
				var code = $('#code').val();
				var description = $('#description').val();
				var deadline = $('#deadline').val();
				var query = "email_friend="+email_friend+"&task="+task+"&code="+code+"&description="+description+"&deadline="+deadline;				
				$.ajax({
					type: "POST",
					url: "/task/send/for_other",
					data: query,
					success: function(answer) {
						$("#answer").html(answer);
					}
				});		
			}
				
			function create_task(){
				var task_name = $('#task_name').val();
				var task_description = $('#task_description').val();
				var task_type = $('#task_type').val();
				var task_date_finish = $('#task_date_finish').val();
				var query = "task_name="+task_name+"&task_description="+task_description+"&task_type="+task_type+"&task_date_finish="+task_date_finish;
				$.ajax({
					type: "POST",
					url: "/task/add/new",
					data: query,
					success: function(answer) {
						$("#answer").html(answer[0]);
					}
				});
			}
				
				
			$(document).ready(function(){
			var y = location.search;
			$.getJSON("/task/select/special"+y,
			function(data){
				console.log(data);
				var countall = data['count_all'];
				var lim = data['lim'];
				var task = data['task_type'];
				var page = countall/lim;
				var newpage = Math.ceil(page);
				var z;
				for (z=1; z<=newpage; z++) {
					$('#page').append("<a onclick=\"sendData('?task="+task+"&page="+z+"');\" href=\"javascript://\"><button>"+z+"</button></a>");  
				}
				var i;  
				for (i=0;i<=lim;i++) {
					if ( [('number_' + i)] in data ) {
						var status = data[('number_' + i)]['t_status'];
						if (status == 1 && task!='from_others') {
							var status_text = "<font class='task_status_color_active'>Активна</font>";
							var check = "<div class='col-md-3'>Задача выполнена: <center><button onclick='change_status_task();' id='change_status' value='"+data[('number_' + i)]['t_id']+"'>✓</button></center></div>";
						} else if (status == 1 && task=='from_others') {
							var status_text = "<font class='task_status_color_active'>Активна</font>";
							var check = "";
						} else if (status == 0) {
							var status_text = "<font class='task_status_color_no_active'>Выполнена</font>";
							var check = "";
						}
					$('#tasks').append("<div id='lvlup_1_id"+i+"' class='user_tasks_blocks col-md-12'><div class='col-md-9'><p><font class='task_name_p'>Название: </font>"+data[('number_' + i)]['t_name']+"</p><p><font class='task_name_p'>Описание: </font>"+data[('number_' + i)]['t_description']+"</p><p><font class='task_name_p'>Дата создания: </font>"+data[('number_' + i)]['t_date_create']+"</p><p><font class='task_name_p'>Дата финала: </font>"+data[('number_' + i)]['t_date_finish']+"</p><p><font class='task_name_p'>Статус задачи: </font>"+status_text+"</p></div>"+check+"<div id='task_lvl_2_" + i + "'></div></div>"); 
				}}}
		)});
			
		function sendData (sData) {
			location.search = sData;
		} 
		
		function change_status_task(){
			var	number = $('#change_status').val();
			var query ="number="+number;
			$.ajax({
				type: "POST",
				url: "/task/update/status",
				data: query,
				success: function(answer) {
						if (answer==1){
							location.reload();
						}
				}			
			});
		}	
		</script>
	</body>
</html>
