			<div class="row block_personal_task">
				<div class="col-md-12" style="background:yellow;">
					<center><h2>Главная задача </h2></center>
				</div>
			</div>
			<div class="row main_block_special">
					<div class="col-md-2" style="background:#A4ABB7; height:700px">
						проекты и задачи
					</div>
					<div class="col-md-7">
						список по текущей задаче
					</div>
					<div class="col-md-3" style="background:#A4ABB7; height:300px">
						форма создания задачи
					</div>
			</div>
		
