			<div class="row block_personal_task">
				<div class="col-md-12" style="background:yellow;">
					<div class="col-md-10"><h2>Поехать на Таити! "Это волшебное место!" </h2></div><div class="col-md-2"></div>
				</div>
			</div>
			<div class="row main_block_special">
					<div class="col-md-2" style="background:#A4ABB7; height:700px">
						<a href="?task_n=imp"><div class="col-md-12" style="height:20px; background:grey; color: yellow; margin-top:10px;">Важные</div></a>
						<div id="imp"></div>
						<a href="?task_n=last"><div class="col-md-12" style="height:20px; background:grey; color: yellow; margin-top:10px;">Последние</div></a>
						<div id="last"></div>
						<a href="?task_n=fav"><div class="col-md-12" style="height:20px; background:grey; color: yellow; margin-top:10px;">Избранные</div></a>
						<div id="favourite"></div>
						<a onclick="$('#all').slideToggle('slow');" href="javascript://"><div class="col-md-12" style="height:20px; background:grey; color: yellow; margin-top:10px;">Все</div></a>
						<div id="all" style="display: none;">
							<a href="?task_n=proj"><div class="col-md-12" style="height:20px; background:grey; color: yellow; margin-top:10px;">Проекты</div></a>
							<a href="?task_n=even"><div class="col-md-12" style="height:20px; background:grey; color: yellow; margin-top:10px;">События</div></a>
							<a href="?task_n=task"><div class="col-md-12" style="height:20px; background:grey; color: yellow; margin-top:10px;">Задачи</div></a>
						</div>
					</div>
					<div class="col-md-7">
						<div id="content"></div>
					</div>
					<div class="col-md-3" style="background:#A4ABB7">
						<form id="create_task_form">
							<div class="row">
								<div class="col-md-8">
									<input type="text" id="task_name" required>
								</div>
								<div class=" col-md-offset-1 col-md-3">
									<input type="submit" class="btn" value="го">
								</div>
							</div>
							<div class="row">								
									<ul class="nav nav-tabs">									
									    <li><a href="#user" data-toggle="tab" aria-expanded="false"><div id="user_ico"><div class="icon-user button_task_user"></div></div></a></li>
									    <li><a href="#calendar" data-toggle="tab" aria-expanded="false"><div id="calendar_ico"><div class="icon-calendar button_task_no_calendar"></div></div></a></li>
									    <li><a href="#importance" data-toggle="tab" aria-expanded="false"><div id="importance_ico"><div class="icon-notification button_task_importan"></div></div></a></li>
									    <li><a href="#tags" data-toggle="tab" aria-expanded="false"><div id="tags_ico"><div class="button_task_task">З</div></div></a></li>									
									</ul>								
									<div id="myTabContent" class="tab-content">
									    <div class="tab-pane fade in" id="user">
									    	<div class="form-group">
									    		<center>								  
										    		<input type="radio" id="email_1" class="input_x" onclick="task_for_user()" name="task_for" value="1" checked />
													<label class="label_x" for="email_1">Для себя</label>
													<input type="radio" id="email_2" class="input_x" onclick="task_for_user()" name="task_for" value="2" />
													<label class="label_x" for="email_2">Для другого</label>
												</center>
											</div>
											<div id="email"></div>
									  	</div>
									  	<div class="tab-pane fade" id="calendar">
									  		<div class="form-group">
												<center>
										    		<input type="radio" id="calendar_1" class="input_x" onclick="deadline_for_task()" name="deadline" value="1" />
													<label class="label_x" for="calendar_1">Установить срок</label>
													<input type="radio" id="calendar_2" class="input_x" onclick="deadline_for_task()" name="deadline" value="2" checked />
													<label class="label_x" for="calendar_2">Без срока</label>
												</center>						
											</div>
											<div id="deadline_date"></div>
									  	</div>
									  	<div class="tab-pane fade" id="importance">
									  		<center>
										    	<div class="rating">
										    		<input type="radio" id="star_5" class="input_s" onclick="raiting_for_task()" name="stars" value="5" />
												    <label for="star_5" class="label_s"> &#9734;</label>
												    <input type="radio" id="star_4" class="input_s" onclick="raiting_for_task()" name="stars" value="4" />
												    <label for="star_4" class="label_s"> &#9734;</label>
												    <input type="radio" id="star_3" class="input_s" onclick="raiting_for_task()" name="stars" value="3" />
												    <label for="star_3" class="label_s"> &#9734;</label>
												    <input type="radio" id="star_2" class="input_s" onclick="raiting_for_task()" name="stars" value="2" />
												    <label for="star_2" class="label_s"> &#9734;</label>
													<input type="radio" id="star_1" class="input_s" onclick="raiting_for_task()" name="stars" value="1" />
												    <label for="star_1" class="label_s"> &#9734;</label>
												</div>
											</center>
									  	</div>
									  	<div class="tab-pane fade" id="tags">
									  		<center>								
										    	<p><input type="radio" id="type_1" class="input_x" onclick="type_for_task()" name="type" value="4" />
												<label class="label_x" for="type_1">Проект</label></p>
												<p><input type="radio" id="type_2" class="input_x" onclick="type_for_task()" name="type" value="61" />
												<label class="label_x" for="type_2">Событие</label></p>
												<p><input type="radio" id="type_3" class="input_x" onclick="type_for_task()" name="type" value="62" checked />
												<label class="label_x" for="type_3">Задача</label></p>										
											</center>
									  	</div>
									</div>								
								</div>
							</form>
							<div class="row">
								<div id="answer"></div>
							</div>						
					</div>

			</div>
			<div class="temp_task" id="temp_task" style="display:none">			
				<a class="link"><div class="t_short_name"></div></a>
			</div>
			<div class="col-md-4" style="display:none">
				<div class="home-info-block" style="height:220px; margin-top: 20px;">
					<h3>Покормить котенка</h3>
					<p>Покорми котенка</p>
				</div>
			</div>
			<div class="col-md-12" style="display:none">
				<div class="home-info-block" style="height:220px; margin-top: 20px;">
					<h3 class="t_name"></h3>
					<p></p>
				</div>
			</div>
			<script type="text/javascript" src="{{asset('templates/default/js/form_task_create.js')}}"></script>
		
