				
					<div class="slider img-responsive">
						<ul>
							<li><img class="img-responsive" src="img/home_slider_1.jpg" alt=""></li>
							<li><img class="img-responsive" src="img/home_slider_2.jpg" alt=""></li>
							<li><img class="img-responsive" src="img/home_slider_3.jpg" alt=""></li>
						</ul>
					</div>
			
