<div class="col-md-12 home-sale">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-5" align="center">
			<img src="img/sale.jpg" width=120 height=100>
		</div>
		<div class="hidden-xs hidden-sm col-md-7">
			<h2>Скидка, спешите!</h2>
		</div>
		<div class="col-xs-9 col-sm-9 hidden-md hidden-lg">
			<h2>Скидка, спешите!</h2>
			<p>На данный момент, в честь открытия проекта, у нас предусмотрена гибкая система скидок, а так же очеь приятные цены на предоставляемые услуги! Так же возможны скидки для постоянных клиентов. По всем вопросам обращайтесь в службу поддержки нашего проекта.</p>
		</div>		
	</div>
</div>
