{% if code == TRUE %}
<div class="col-md-12 alert alert-dismissible alert-danger"  align="center">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Произошла ошибка!</strong>  {{ code }}
</div>
{% endif %}
