				<div class="col-xs-12 col-sm-12 col-md-12">
					<h2 class="home-caption">У нас есть решение этой проблемы!</h2>
				</div>
				<table class="zebra">
						<tr>
						  <th></th>
						  <th>Тариф: Бесплатный</th>
						  <th>Тариф: Стандартный</th>
						  <th>Тариф: Полный</th>
						  </tr>
						 <tr>
						  <td class="round-top">Напоминание по Email</td>
						  <td>Да</td>
						  <td>Да</td>
						  <td>Да</td>
						 </tr>
						<tr>
						  <td>Напоминание по SMS</td>
						  <td>Нет</td>
						  <td>Да</td>
						  <td>Да</td>
						</tr>
						<tr>
						  <td class="round-bottom">Напоминание личным звонком</td>
						  <td>Нет</td>
						  <td>Нет</td>
						  <td>Да</td>
						</tr>
				</table>
