<h2>Здравствуйте{% if name == TRUE %}, уважаемый {{name}}{% endif %}!</h2> <br/>
Мы должны убедиться в том, что вы человек. Пожалуйста, подтвердите адрес вашей электронной почты, и можете начать использовать ваш аккаунт на сайте <h3>Можно еще минутку?</h3>.<br/> <br/> 
<a href="http://{{site}}/activation/{{activation}}">Ссылка для подтверждения Email</a>
