
body {
 background-color: #e5d6cd ;
}

.home-box-body {
 margin-top: 70px;
}

.authorization {
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:35px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.textbox{
  height:50px;
  width:100%;
  font-family: 'Open Sans', sans-serif;
  font-size:18px; 
  padding:10px;
  margin-bottom:10px;  
}

.home-info-block {
  margin:0 auto;
  max-width:97.5%;
  margin-top:20px;
  box-sizing:border-box;
  padding:35px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.home-caption {
  color:white;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding:20px;
  background-color: #4f4f4f;
   } 
 
.home-picture {
  font-size: 70px; 
  color: #4f4f4f;
}

.home-sale {
  margin-top:15px;
  max-width:100%;
  box-sizing:border-box;
  padding:20px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.slider {
 z-index: 9;
 width: 860px;
 height: 450px;
 overflow: hidden;
 margin: 0 0 7px;
 position: relative;
 box-shadow: 0 0 100px 2px rgba(0,0,0,.35);
 }
 .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px; 
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: 860px;
 height: 450px;
 }
 .slider .nav {
 position: absolute;
 left: 15px;
 bottom: 50px; 
 }
 .slider .nav span {
 opacity: 0.9;
 background: #fff;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #2e9419;
 }

table {
border-spacing: 0;
empty-cells: hide;
font-size: 22px;
margin-bottom:100px;
}
td {
padding: 10px 20px;
text-align: center;
border-bottom: 1px solid #F4EEE8;
transition: all 0.5s linear;
}
td:first-child {
text-align: left;
color: #3D3511;
font-weight: bold;
}
th {
padding: 10px 20px;
color: #3D3511;
border-bottom: 1px solid #F4EEE8;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
td:nth-child(even) {
background: #F6D27E;
}
td:nth-child(odd) {
background: #D1C7BF;
}
th:nth-child(even)  {
background: #F6D27E;
}
th:nth-child(odd)  {
background: #D1C7BF;
}
.round-top {
border-top-left-radius: 5px;
}
.round-bottom {
border-bottom-left-radius: 10px;
}
tr:hover td{
background: #D1C7BF;
font-weight: bold;
}

.home-border {
border-left: 2px solid #615E5F;
}

.home-footer {
  height: 60px;
  margin-top: -60px;
  background: #f8f8f8;
  text-align: center;
  padding:20px;
  box-shadow:  0px 0px 15px 2px rgba(0, 0, 0, .45); 
}

.registration {
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:35px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.registration-footer {
  height: 60px;
  margin-top: 150px;
  background: #f8f8f8;
  text-align: center;
  padding:20px;
  box-shadow:  0px 0px 15px 2px rgba(0, 0, 0, .45); 
}

.registration-box-body {
margin-top:70px;
}

.overall-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 300px;
  background: #f8f8f8;
  text-align: center;
  padding:20px;
  box-shadow:  0px 0px 15px 2px rgba(0, 0, 0, .45); 
}

.registration-success-info {
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:35px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
}

.activation {
  text-align: center;
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:35px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.user_auth_main_block {
  height: 100%;
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:15px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.user-auth-add-task-to-friend-block {
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:15px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.main_block_special{
padding-bottom: 150px;
}

.block_of_task{
margin-bottom:30px;
}

#special_param{
padding-top:20px;
}

#tasks{
padding-top:30px;
}

.user_tasks_blocks{
  height: 100%;
  margin:0px 0px 20px 0px;
  width:100%;
  box-sizing:border-box;
  padding:15px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45); 
}

.user_form_new_task{
  height: 100%;
  margin:20px 0px 5px 0px;
  width:100%;
  box-sizing:border-box;
  padding:15px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
}

.task_name_p{
color:blue;
}

.task_status_color_active{
color:red;
}

.task_status_color_no_active{
color:green;
}
