
body {
 background-color: #CDD6E5 ;
}

.home-box-body {
 margin-top: 60px;
}

.authorization {
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:35px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.textbox{
  height:50px;
  width:100%;
  font-family: 'Open Sans', sans-serif;
  font-size:18px; 
  padding:10px;
  margin-bottom:10px;  
}

.home-info-block {
  margin:0 auto;
  max-width:97.5%;
  margin-top:20px;
  box-sizing:border-box;
  padding:35px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.home-caption {
  color:white;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding:20px;
  background-color: #4f4f4f;
   } 
 
.home-picture {
  font-size: 70px; 
  color: #4f4f4f;
}

.home-sale {
  margin-top:15px;
  max-width:100%;
  box-sizing:border-box;
  padding:20px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.slider {
 z-index: 9;
 width: 860px;
 height: 450px;
 overflow: hidden;
 margin: 0 0 7px;
 position: relative;
 box-shadow: 0 0 100px 2px rgba(0,0,0,.35);
 }
 .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px; 
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: 860px;
 height: 450px;
 }
 .slider .nav {
 position: absolute;
 left: 15px;
 bottom: 50px; 
 }
 .slider .nav span {
 opacity: 0.9;
 background: #fff;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #2e9419;
 }

table {
border-spacing: 0;
empty-cells: hide;
font-size: 22px;
margin-bottom:100px;
}
td {
padding: 10px 20px;
text-align: center;
border-bottom: 1px solid #F4EEE8;
transition: all 0.5s linear;
}
td:first-child {
text-align: left;
color: #3D3511;
font-weight: bold;
}
th {
padding: 10px 20px;
color: #3D3511;
border-bottom: 1px solid #F4EEE8;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
td:nth-child(even) {
background: #F6D27E;
}
td:nth-child(odd) {
background: #D1C7BF;
}
th:nth-child(even)  {
background: #F6D27E;
}
th:nth-child(odd)  {
background: #D1C7BF;
}
.round-top {
border-top-left-radius: 5px;
}
.round-bottom {
border-bottom-left-radius: 10px;
}
tr:hover td{
background: #D1C7BF;
font-weight: bold;
}

.home-border {
border-left: 2px solid #615E5F;
}

.home-footer {
  height: 60px;
  margin-top: -60px;
  background: #f8f8f8;
  text-align: center;
  padding:20px;
  box-shadow:  0px 0px 15px 2px rgba(0, 0, 0, .45); 
}

.registration {
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:35px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.registration-footer {
  height: 60px;
  margin-top: 150px;
  background: #f8f8f8;
  text-align: center;
  padding:20px;
  box-shadow:  0px 0px 15px 2px rgba(0, 0, 0, .45); 
}

.registration-box-body {
margin-top:70px;
}

.overall-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 300px;
  background: #f8f8f8;
  text-align: center;
  padding:20px;
  box-shadow:  0px 0px 15px 2px rgba(0, 0, 0, .45); 
}

.registration-success-info {
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:35px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
}

.activation {
  text-align: center;
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:35px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.user_auth_main_block {
  height: 100%;
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:15px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.user-auth-add-task-to-friend-block {
  margin:0 auto;
  max-width:100%;
  box-sizing:border-box;
  padding:15px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}

.main_block_special{
padding-bottom: 150px;
}

.block_of_task{
margin-bottom:30px;
}

#special_param{
padding-top:20px;
}

#tasks{
padding-top:30px;
}

.user_tasks_blocks{
  height: 100%;
  margin:0px 0px 20px 0px;
  width:100%;
  box-sizing:border-box;
  padding:15px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45); 
}

.user_form_new_task{
  height: 100%;
  margin:20px 0px 5px 0px;
  width:100%;
  box-sizing:border-box;
  padding:15px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
}

.task_name_p{
color:blue;
}

.task_status_color_active{
color:red;
}

.task_status_color_no_active{
color:green;
}

.block_personal_task{
  padding-bottom:15px;
}

.button_task_no_calendar {
  font-size: 18px; 
  color: red;
}

.button_task_calendar {
  font-size: 18px; 
  color: green;
}

.button_task_imp {
  font-size: 18px; 
  color: blue;
}

.button_task_user {
  font-size: 18px; 
  color: green;
}

.button_task_for_other {
  font-size: 18px; 
  color: blue;
}

.button_task_importan {
  font-size: 18px; 
  color: red;
}

.button_task_project {
  font-size: 15px; 
  color: black;
}

.button_task_event {
  font-size: 15px; 
  color: black;
}

.button_task_task {
  font-size: 15px; 
  color: black;
}

.label_x
{
background-color:#9A9A9A;
padding: 5px 12px;
}
.input_x[type=radio]
{
display:none;
}
.input_x[type=radio]:checked + .label_x
{
background-color:#9C3;
}
.input_s[type=radio]
{
display:none;
}
.label_s {
  font-size:40px;
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > .label_s {
  display: inline-block;
  position: relative;
  font-size: 40px; 
}
.rating > .label_s:hover:before,
.rating > .label_s:hover ~ .label_s:before,
.rating > .input_s[type=radio]:checked ~ .label_s:before {
   content: "\2605";
   position: absolute;
   color: yellow;
}

.main_tasks {
  background: #fefcea;
  background: linear-gradient(to top, #fefcea, #f1da36);
  border-radius: 4px;
  border-color: black;
  border: 1px;
  padding: 0.5%;
  -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, .45);
}

.right_colomn {
 background: #FDFAE2;
  border-radius: 4px;
  border-color: black;
  border: 1px;
  padding: 0.5%;
  -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, .45);

}

.button_right_colomn {
  height:20px; 
  background:grey; 
  color: yellow; 
  margin-top:10px;
  text-align: center;
}

.point_right_colomn {
  color: black;
}

.task_sticker {
  margin-bottom: 20px;
  box-sizing:border-box;
  padding:20px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, .45);
  height:150px;
  color:black;
  text-align: center; 
}

.task_sticker:hover, .task_sticker :focus{
  -moz-box-shadow: 0px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, .45);        
  box-shadow:  10px 10px 10px 0px rgba(0, 0, 0, .45);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  position:relative;
  z-index:5;
}

a:hover { 
 text-decoration: none; /* Убираем подчеркивание */
} 

.task_information {
   margin-bottom: 20px;
  box-sizing:border-box;
  padding:20px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, .45);
  height:100%;
  color:black;
}

.project_style {
  background: #ccf5ff;
}

.event_style {
  background:  #ffb366;
}

.task_style {
  background: #b3ff66;
}

.warnining_1_n {
  background: #ffffff;
}

.warnining_2_n {
  background: #ffcccc;
}

.warnining_3_n {
  background: #ff9999;
}

.warnining_4_n {
  background: #ff6666;
}

.warnining_5_n {
  background: #ff3333;
}

.inf_star {
  font-size: 15pt;
}