<!DOCTYPE html>
<html>
	<head>
		{% include 'parts/overall/head.twig' %}
	</head>
	<header>
		{% include 'parts/overall/header.twig' %}
	</header> 
	<body>
		<div class="container home-box-body">
			<div class="row main_block_special">
				<center><h2>Чтобы просмотреть эту страницу, вы должны зарегистрироваться</h2></center>
			</div>		
		</div>
		{% include 'parts/overall/footer.twig' %}
	</body>
</html>
