{% extends "layout.twig" %}
{% block content %}
					
		<div class="row main_block_special">
			<center><h2>Произошла ошибка {{code}}. Вернитесь на главную страницу!</h2></center>
		</div>		
		
		{% include 'parts/overall/footer.twig' %}

{% endblock %}