				<div class="col-md-12 registration-success-info" align="center">
					Поздравляем, регистрация пройдена, на Ваш emeil (<a>{{session_registration.email}}</a>) выслано письмо для активации вашего аккаунта! Пройдите по ссылке в письме! <br><br>
					<p><a href="{{path ('home')}}"><button>Переход на главную страницу</button></a></p>
				</div>
