				<div class="col-md-12 registration-success-info" align="center">
					Регистрация не была произведена. Просим Вас пройти по ссылки и зарегистрироваться! <br><br>
					<p><a href="{{path ('registration')}}"><button>Регистрация</button></a></p>
				</div>
