				<div class="col-xs-12 col-sm-12 col-md-12">
					<h2 class="home-caption">Вы часто откладываете все на последний момент?</h2>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<h4>Вы или Ваши друзья думаете, что успеете все сделать в последний момент? Подумайте, ачем откладывать, если можно сделать все заранее, вовремя и без лишних нервов!</h4><br>					
					<i class="icon-users home-picture"></i>
                </div>                   
                <div class="col-md-4 col-sm-4 col-xs-4 home-border">
                    <h4>У Вас очень много дел и обязанностей? Мы поможем Вам грамотно распределить время, составить Ваше личное расписание и напомним о надвигающемся deadline!</h4><br>
                    <i class="icon-alarm home-picture"></i>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 home-border">
					<h4>Вы большой начальник и у Вас много подчиненных между которыми нужно распределять обязанности? Наш сервис станет хорошим помошником в этой задаче!</h4><br>
					<i class="icon-user-tie home-picture"></i>
				</div>                 
