				
					<div class="authorization">
						<form class="form-horizontal" role="form" method="post" action="/">
							<div class="form-group"><input type="email" class="textbox" id="in_email" name="in_email" placeholder="Email" required></div>
							<div class="form-group"><input type="password" class="textbox" id="in_password" name="in_password" placeholder="Пароль" required></div>
							<div class="form-group"><input type="checkbox" id="in_remember" name="in_remember"> Чужой компьютер</div>
							<div align="center">
								<input type="submit" class="btn btn-success" value="Войти">
								<a href="{{path ('registration')}}"><input type="button" name="registration" class="btn btn-success" value="Регистрация"></a>
							</div>
						</form>
					</div>
				
